.main{
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    
    
    
}
.bg img{
    width: 100%;
    height: 700px;
    

}
.block img{
    width: 100%;
    border-radius: 40px;
    display: flex;
    height: 500px;
    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.text h3{
    display: flex;
    text-align: center;
    padding: 3%;
    padding-right: 5%;
    padding-left: 5%;
    color: #6C464E;
}

.block{
    display: flex;
    padding: 3%;
    
    flex-direction: column;
    
}
.block p{
    text-align: justify;
    color: #6C464E;
}

.ensimg{
    display: flex;
    width: 55%;
    padding: 2%;
    


}
.enstext{
    display: flex;
    width: 45%;
    align-items: center;
    font-size: large;
    
    border-radius: 40px;
    
    padding: 2%;
    
    

}
.blockbis{
    display: flex;
    flex-direction: row;
    margin: none;
    box-shadow: 12px 12px 12px #32A287;
    padding: 2%;
    border-radius: 40px;
    
    border: none;
}
.blockbis1{
    display: flex;
    flex-direction: row;
    margin: none;
    box-shadow: -12px 12px 12px #32A287;
    padding: 2%;
    border-radius: 40px;
    
    border: none;
}
.enstitle h1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    padding-top: 7%;
    
}

.block span{
    color: #00C2D1;
    font-size: larger;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4%;
    
    
}
.enstitle{
    
    
    padding-left: 20%;
    padding-right: 20%;
    

}
.main h1{
    color: #6C464E;
}
